.timeline--item {
  position: relative;
  padding-left: 60px;
}
.timeline--item:not(:last-child) {
  margin-bottom: 50px;
}
.timeline--item::before {
  content: "";
  position: absolute;
  inset-block: 0; 
  left: 20px;
  border-left: 1px solid var(--border-color);
}
.timeline--icon {
  position: absolute;
  left: 0;
  top: 0;
  background-image: var(--first-gradient);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline--university{
  color: var(--title-color);
}
