@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

.services {
  font-family: "Playwrite DK Uloopet", cursive;
  background-color: var(--first-gradient);
} 
.section--title{
  color: var(--title-color); 

}
.swiper-wrapper {
  margin-bottom: 52px;
}  
.services--subtitle { 
  font-family: "Playwrite DK Uloopet", cursive;
  color: var(--title-color); 
  font-size: var(--tiny-font-size);
  font-weight: 700;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}
.services--title {
  font-family: "Noto Serif", serif;
  font-size: var(--h4-font-size);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.services--descrption {
  font-family: "Wittgenstein", serif;
  min-height: 167px;
  color: var(--title-color);
}
 
